*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.container{
  padding-bottom: 0rem;
  position: relative;
  

}

.footer{
  background-color: #b2d1b3;
  position: relative;
  padding: 0%;
  width: auto;
  margin-top: 40px;
}


.row{
  display:flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h5{
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}

.footer-col h4 ::before{
  content: '';
  position: absolute; 
  left: 0;
  bottom: -10px;
  height: 2px;
  background: white;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul{
  list-style: none;
}

.footer-col ul li{
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.footer-col .social-link{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}

@media(max-width:767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width:567px){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
  }
} 

