<div class="footer">
    <div class="container">
    <div class="row">
        <div class="footer-col">
        <h5> foodie Inc.</h5>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <ul>
            <h5>Need Help?</h5>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Looking to promote more?</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>


    <div class="footer-col">
        <h5>Want to follow us?</h5>
    <div class="social-link">
        <div class="footer-col">
            <a href ="https://facebook.com/" target="_blank" class="px-2"><i class="fab fa-facebook"></i></a>
            <a href = "http://twitter.com/" target="_blank" class ="px-2"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    </div>
</div>
</div>


