<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="logo">
      <img src="logo1.jpg" alt="">
      <a class="navbar-brand" href="">foodie</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-plus-circle"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="add-post">Create a post</a></li>
            <li><a class="dropdown-item" href="product-list">View all products</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- <nav class="navbar">
  <img src="img/logo.png" class="logo" alt="">
  <form class="search-box">
      <input type="text" placeholder="search" name="search-query" id="search-input">
      <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <div class="nav-links">
      <a href="home" class="nav-links"><i class="fas fa-home"></i></a>
      <div class="activity-log">
          <img src="img/icon/heart-nofill.png" class="nav-icon" alt="">
          <div class="activity-container hide">
              <div class="activity-card">
                  <img src="img/user1.png" class="user-img" alt="">
                  <p class="activity"><b>@siri</b> liked your post</p>
                  <img src="img/posts/post1.png" class="activity-post" alt="">
              </div>
              <div class="activity-card">
                  <img src="img/user2.png" class="user-img" alt="">
                  <p class="activity"><b>@siri</b> liked your post</p>
                  <img src="img/posts/post1.png" class="activity-post" alt="">
              </div>
              <div class="activity-card">
                  <img src="img/user1.png" class="user-img" alt="">
                  <p class="activity"><b>@siri</b> liked your post</p>
                  <img src="img/posts/post1.png" class="activity-post" alt="">
              </div>
              <div class="activity-card">
                  <img src="img/user3.png" class="user-img" alt="">
                  <p class="activity"><b>@siri</b> liked your post</p>
                  <img src="img/posts/post1.png" class="activity-post" alt="">
              </div>
          </div>
      </div>
      <a href="Likes" class="nav-links"><i class="fas fa-heart"></i></a>
      <a href="Create" class="nav-links"><i class="fas fa-plus-circle"></i></a>
  </div>
</nav> -->