<div class="form-group">
    <form (ngSubmit)="onSubmit()">
        <label for="item" class="form-label">Item Name</label>
        <input type="email" class="form-control" id="item" placeholder="Enter Item">
        <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="location" class="form-label">Location</label>
            <textarea class="form-control" id="location" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <form action="/upload" method="POST" enctype="multi-part/form-data">
                <!-- <label for="image" class="form-label" (change)="selectImage($event)">File</label> -->
                <input type="file" name="myImage">
            </form>
        </div>

        <button type="submit" (click)="onSubmit()" class="btn btn-default">Add a post</button>
        <form>
