<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="posts">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="assets/images/iconsample.png" class="profileImage">
                            <h6 class="mb-0 ms-2">johndoe</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <img src="assets/images/food_1.jpg" class="images" alt="" class="mw-100">
                </div>
                <div class="card-footer">
                    <i class="fas fa-heart fs-3"></i>
                    <i class="fas fa-comment fs-3 mx-3"></i>
                    <i class="fas fa-paper-plane fs-3"></i>
                </div>
                <div class="post-footer-content">
                    <img src="assets/images/iconsample.png" class="profileImageSm">
                    <small>johndoe</small> 
                </div>
                <div>Introducing our new product! Stir Fry Octopus. Accomodated with side dishes and a bowl of rice!</div>

                <div class="add-comment">
                    <div class="left-side">
                        <i class="far fa-comment"></i>
                        <input type="text" placeholder="Add a comment">
                        <button>Post</button>
                    </div>
                </div>
            </div>



                <div class="card-header">
                    <div class="d-flex">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="assets/images/iconsample.png" class="profileImage">
                            <h6 class="mb-0 ms-2">johndoe</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <img src="assets/images/food_5.jpg" class="images" alt="" class="mw-100">

                </div>
                <div class="card-footer ">
                    <i class="fas fa-heart fs-3"></i>
                    <i class="fas fa-comment fs-3 mx-3"></i>
                    <i class="fas fa-paper-plane fs-3"></i>
                </div>
                <div class="d-flex align-items-center">
                    <img src="assets/images/icon.jpg" class="profileImageSm">
                    <small>katemoss</small> 
                </div>
                <div>Korean Shaved Ice to cool down!</div>

                <div class="add-comment">
                    <div class="left-side">
                        <i class="far fa-comment"></i>
                        <input type="text" placeholder="Add a comment">
                        <button>Post</button>
                    </div>

            </div>
        </div>
    </div>



