<section class="products" id="products">
    <h1 class="heading">Our Products</h1>
    <div class="container">
        <div class="products-container">
            <div class="box">
                <img src="assets/images/food_1.jpg" alt="" width="600" height="600">
                <h5>Stir-fry pork</h5>
                <div class="description"> Comes with "Stir-fried pork with our spicy sauce and includes side dishes and a side of rice</div>
            </div>
            <div class="box">
                <img src="assets/images/food_2.jpg" alt="" width="500" height="600">>
                <h5>Stir-fry pork</h5>
                <div class="description"> Comes with "Stir-fried pork with our spicy sauce and includes side dishes and a side of rice</div>
            </div>
            <div class="box">
                <img src="assets/images/food_3.jpg" alt="" width="500" height="600">>
                <h5>Stir-fry pork</h5>
                <div class="description"> Comes with "Stir-fried pork with our spicy sauce and includes side dishes and a side of rice</div>
            </div>
            <div class="box">
                <img src="assets/images/food_4.webp" alt="" width="500" height="600">>
                <h5>Stir-fry pork</h5>
                <div class="description"> Comes with "Stir-fried pork with our spicy sauce and includes side dishes and a side of rice</div>
            </div>

    </div>
    </div>
</section>
