<section class="products" id="products">
    <h1 class="heading">Our Products</h1>
    <div class="container">
        <div class="products-container">
            <div class="box">
                <img src="assets/images/food_1.jpg" alt="stirfryoctopus" class="img-fluid">
                <h5>Stir-fry Octopus</h5>
                <div class="description"> Comes with "Stir-fried pork with our spicy sauce and includes side dishes and a side of rice. Includes vegetables, spicy gochujang sauce, Octopus, glass noodles. Perfect for seafood lovers! </div>
            </div>
            <div class="box">
                <img src="assets/images/food_2.jpg" alt="armystew" class="img-fluid">>
                <h5>Army Stew</h5>
                <div class="description"> Feeling a little cold? Enjoy our delicious stew and is complimented with side dishes and rice. Includes ramen noodles, kimchi, various vegetables, spam, and loads more of deliciousness. </div>
            </div>
            <div class="box">
                <img src="assets/images/food_3.jpg" alt="" class="img-fluid">>
                <h5>Gimbap</h5>
                <div class="description"> Looking to snack on something? Our Gimbap comes in a variety of protein choices (Chicken, Beef, Pork, Tofu). </div>
            </div>
            <div class="box">
                <img src="assets/images/food_4.webp" alt="" class="img-fluid">>
                <h5>Bibimbap</h5>
                <div class="description"> Enjoy our amazing Bibimbap that is served in a stone bowl pot. This option is perfect for individuals who are looking for a good fill! Includes various vegatbles, protein of choice, egg served on top to mix, and side dishes.</div>
            </div>

    </div>
    </div>
</section>
